.order-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    // border:  1px solid rgb(166, 160, 160);

    // margin: 20px;
    &__info {
      width: 10rem;
      color: #AD343E;
    }
    &__total {
      width: 10rem;
      font-size: 18px;
      font-weight: bold;
      color: #AD343E;
      padding: 0px 10px;
    }
    &__actions {
      width: 3rem;
      display: flex;
      justify-content: center;
      &__amount {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .order-item {
      &__info {
        & h3 {
          font-size: 16px;
        }
      }
      &__total {
        width: 5rem;
        font-size: 16px;
      }
    }
  }