@use "../common/index.scss" as *;

.title-main {
    font-family: $text-font-secondary;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin: 20px;
}
@media screen and (max-width: 768px) {
    .title-main {
        font-size: 28px;
        line-height: 30px;
    }
}